<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zlyh.dmitry.recaller">

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:name=".RecallerApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.PreferencesService"
            android:exported="false"/>

        <service android:name=".services.RecordService"
            android:exported="false"/>

        <service android:name=".services.SqlService"
            android:exported="false"/>

        <service android:name=".services.FileService"
            android:exported="false"/>

        <service android:name=".services.PlayerService"
            android:exported="false"/>

        <receiver
            android:name=".broadcast.CallReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="zlyh.dmitry.recaller.BROADCAST"/>
            </intent-filter>
            </receiver>
    </application>

</manifest>